{% extends 'delta/produtos/base_produto.html' %} {% block content %}

<section class="wrapper form">
  <div class="inner-form form">
    <div class="form_head">
      <h3 class="form_title">Simulação Financiamento Auto</h1>
      <h4 class="form_subtitle">Primeiro precisamos saber alguns dados para te identificar:</h4>
    </div>
    <form action="" method="post">
      {% csrf_token %}
      <input
        type="hidden"
        name="csrfmiddlewaretoken"
        value="ywoKFML58e2Glpz6CQe9nnIiKzGdx8u58BS5FumsF2ANyzCoxyYtEBGg3hkSw8L2"
      />
      
      <div class="form-group label-float cpf ">
        <input
          type="text"
          name="cpf"
          maxlength="100"
          class="cpf form-control"
          required
          id="id_cpf"
        />
        <label for="id_cpf">CPF</label>
      </div>

      <div class="form-group label-float name inactive">
        <input
          type="text"
          name="name"
          maxlength="200"
          class="name form-control"
          required
          id="id_name"
        />
        <label for="id_name">Nome Completo</label>
      </div>

      <div class="form-group label-float email inactive">
        <input
          type="text"
          name="email"
          maxlength="200"
          class="email form-control"
          required
          id="id_email"
        />
        <label for="id_email">E-mail</label>
      </div>

      <!-- <div class="form-group moeda">
        <label for="id_valor_do_veiculo">Valor do Veículo</label>
        <input
          type="text"
          name="valor_do_veiculo"
          maxlength="100"
          class="moeda form-control"
          required
          id="id_valor_do_veiculo"
        />
      </div>

      <div class="form-group moeda">
        <label for="id_entrada">Valor de Entrada</label>
        <input
          type="text"
          name="entrada"
          maxlength="100"
          class="moeda form-control"
          required
          id="id_entrada"
        />
      </div>


      <div class="form-group celular">
        <label for="id_telefone">Telefone</label>
        <input
          type="text"
          name="telefone"
          maxlength="100"
          class="celular form-control"
          required
          id="id_telefone"
        />
      </div> -->

      <div class="button-row">
        <button class="button-submit" type="submit" value="Enviar" onclick="verificarInputs(event);">
          Próximo
        </button>
      </div>
    </form>
  </div>
</section>

{% endblock content %}
