{% extends 'delta/produtos/base_produto.html' %} {% block content %}

{% load static compress %}

<section class="wrapper form">
  <div class="inner-form form">
    <form action="" method="post">
      {% csrf_token %}
      <input
        type="hidden"
        name="csrfmiddlewaretoken"
        value="ywoKFML58e2Glpz6CQe9nnIiKzGdx8u58BS5FumsF2ANyzCoxyYtEBGg3hkSw8L2"
      />
      <div class="section" id='section_1'>
        <div class="form_head">
          <c class="form_title">Simulação Financiamento Auto</h1>
          <h4 class="form_subtitle">Primeiro precisamos saber alguns dados para te identificar:</h4>
        </div>
      <div class="form-group label-float cpf ">
        <input
          type="text"
          name="cpf"
          maxlength="100"
          class="cpf form-control"
          required
          id="id_cpf"
        />
        <label for="id_cpf">CPF</label>
        <div class="error">
          <span> OBRIGATÓRIO! </span>
        </div>
      </div>

      <div class="form-group label-float name inactive">
        <input
          type="text"
          name="name"
          maxlength="200"
          class="name form-control"
          required
          id="id_name"
        />
        <label for="id_name">Nome Completo</label>
        <div class="error">
          <span> OBRIGATÓRIO! </span>
        </div>
      </div>

      <div class="form-group label-float email inactive">
        <input
          type="text"
          name="email"
          maxlength="200"
          class="email form-control"
          required
          id="id_email"
        />
        <label for="id_email">E-mail</label>
        <div class="error">
          <span> OBRIGATÓRIO! </span>
        </div>
      </div>
    </div>

      <div class="section inactive" id='section_2'>
        <h3>agora nos informe alguns detalhes sobre seu financiamento:</h1>
        <p><h4>Entradas de 30% sobre o valor total do veículo aumentam as chances de aprovação do financiamento.</h4></p>
        <div class="label-float form-group moeda inactive">
          <input
            type="text"
            name="valor_do_veiculo"
            maxlength="100"
            class="moeda form-control"
            required
            id="id_valor_do_veiculo"
          />
          <label for="id_valor_do_veiculo">Valor do Veículo</label>
          <div class="error">
            <span> OBRIGATÓRIO! </span>
          </div>
        </div>

        <div class="label-float form-group moeda inactive">
          <input
            type="text"
            name="entrada"
            maxlength="100"
            class="moeda form-control"
            required
            id="id_entrada"
          />
          <label for="id_entrada">Valor de Entrada</label>
          <div class="error">
            <span> OBRIGATÓRIO! </span>
          </div>
        </div>

        <div class="label-float form-group moeda inactive">
          <input
            type="text"
            name="ano"
            maxlength="100"
            class="numeric form-control"
            required
            id="id_ano"
          />
          <label for="id_ano">Ano de fabricação</label>
          <div class="error">
            <span> OBRIGATÓRIO! </span>
          </div>
        </div>
      </div>

      <!-- <div class="form-group celular">
        <label for="id_telefone">Telefone</label>
        <input
          type="text"
          name="telefone"
          maxlength="100"
          class="celular form-control"
          required
          id="id_telefone"
        />
      </div> -->

      <div class="button-row">
        <button class="button-submit" value="Enviar" onclick="verificarInputs(event);">
          Próximo
        </button>
      </div>
    </form>
  </div>
</section>

{% compress js %}
<script src="{% static 'js/new_form.js' %}"></script>
{% endcompress %}

{% block js %}
{% endblock js %}

{% endblock content %}


