{% load static %}
<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
  <title>{% block title %}Delta Capital{% endblock %}</title>
  <meta charset="utf-8"/>
  <meta name="viewport"
        content="width=device-width, initial-scale=1, user-scalable=no"/>
  <meta name="description" content=""/>
  <meta name="keywords" content=""/>


  <link rel="stylesheet" href="{% static 'build/main.css' %}">
  <script src="{% static 'build/main.js' %}"></script>

  {% block css %}{% endblock %}
  {% block headmedia %}{% endblock headmedia %}

</head>
<body class="{% block bodyclass %}is-preload index{% endblock bodyclass %}">

<div class="topnav{% if request.resolver_match.url_name == 'home' %} topnavhome{% endif %}" id="myTopnav">
  <a href="{% url 'delta:home' %}">Delta Capital</a>
  <a href="#Sobre">Sobre</a>
  <div class="dropdown">
    <button class="dropbtn">Para Mim
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{% url 'delta:financiamento-de-veiculos' %}">Financiamento de
        Veículos</a>
      <a href="{% url 'delta:cartao-de-credito' %}">Cartão de Crédito</a>
      <a href="https://www.geru.com.br/?utm_source=DeltaCapital&utm_medium=DeltaCapital&utm_content=DeltaCapital">Crédito
        Pessoal ↗</a>
      <a href="https://app.creditas.com/auto-refi/solicitacao/informacoes-pessoais?utm_source=AF097&utm_medium=parcerias&utm_expid=.9hh6elqoQ5uBoqQ9HavH0g.0&utm_referrer=">Refinanciamento
        de Veículos ↗</a>

      <a href="https://app.pipefy.com/public/form/7gtqACaP">Seguros ↗</a>
      <a href="#">Conta Digital</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Para Meu Negócio
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{% url 'delta:financiamento-de-veiculos' %}">Financiamento de
        Veículos</a>
      <a href="#">Cartão de Crédito</a>
      <a href="https://bizcapital.com.br/direto/#/?utm_medium=partner&utm_source=delta-capital ">Capital
        de Giro ↗</a>
      <a href="https://app.creditas.com/auto-refi/solicitacao/informacoes-pessoais?utm_source=AF097&utm_medium=parcerias&utm_expid=.9hh6elqoQ5uBoqQ9HavH0g.0&utm_referrer=">Refinanciamento
        de Veículos ↗</a>
      <a href="#">Refinanciamento de Imóveis</a>
      <a href="https://app.pipefy.com/public/form/7gtqACaP">Seguros ↗</a>
      <a href="#">Conta Digital</a>
      <a href="#">Crédito Lastreado em Recebíveis</a>
      <a href="#">Consignado Privado</a>
    </div>
  </div>
  <a href="#contato">Contato</a>
  <a href="javascript:void(0);" class="icon" onclick="show_menu()">&#9776;</a>


  {% block menuextra %}{% endblock menuextra%}
</div>


{% block content %}{% endblock content %}


<!-- Footer -->
<footer id="footer">
  <div class="inner">
    <div class="content">
      <section>
        <h3 class="delta">Delta Capital</h3>
        <p>Deltacapital.com.br pertence à DELTA CAPITAL SEGUROS E FINANCIAMENTOS LTDA. A
          Delta Capital não é uma instituição financeira: somos correspondentes de
          múltiplas instituições financeiras, Fintechs e também corretora de seguros
          atuando conforme regulamentação da SUSEP e do Banco Central nos termos da
          Resolução no 3.954, de 24 de fevereiro de 2011. Os valores, taxas e CET (Custo
          Efetivo Total) das operações poderão variar de acordo com os critérios de
          aprovação de cada banco/financeira/seguradora/fintech, não cabendo à Delta
          Capital a atribuição de intervir na política de crédito vigente em cada
          parceiro.</p>
      </section>
      <section>
        <h4>Sem turpis amet semper</h4>
        <ul class="alt">
          <li><a href="#">Dolor pulvinar sed etiam.</a></li>
          <li><a href="#">Etiam vel lorem sed amet.</a></li>
          <li><a href="#">Felis enim feugiat viverra.</a></li>
          <li><a href="#">Dolor pulvinar magna etiam.</a></li>
        </ul>
      </section>
      <a id="contato"></a>
      <section>
        <h4>Redes Sociais</h4>
        <ul class="plain">
          <li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
          <li><a href="https://www.facebook.com/deltacapital.com.br/"><i
                  class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
          <li><a href="https://www.instagram.com/delta.capital/"><i
                  class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
          <li><a href="{% url 'delta:whatsapp' %}"><i
                  class="icon fa-whatsapp">&nbsp;</i>WhatsApp</a></li>
        </ul>
      </section>
    </div>
    <div class="copyright"> &copy; Delta Capital. 2020 - Desenvolvido por <a
            href="https://fholanda.com">fholanda</a></div>
  </div>
</footer>

<!-- Scripts -->


<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/browser.min.js' %}"></script>
<script src="{% static 'js/breakpoints.min.js' %}"></script>
<script src="{% static 'js/util.js' %}"></script>




{% block js %}
{% endblock js %}




{% block footer %}
{% endblock footer %}

</body>
</html>
