
{% extends 'delta/base.html' %}
{% load static %}

{% block content %}
<!-- Banner -->
<section id="banner">
 
  <div class="inner" data-depth="0.10">
    <img class="logo" src="{% static 'images/logo01.png' %} "/> 
    <h1>Delta Capital</h1>
    <p>Somos um HUB de produtos financeiros simples, descomplicados e que facilitam de verdade a 
      sua busca por soluções de crédito.<br>

    </p>

  </div>

  <img class="float-img" id="man" src="{% static 'images/man_semfundo.png' %} "
       data-depth="0.40">


</section>
<div id="shape-mask"></div>


<!-- Highlights -->
<!-- <section class="wrapper">
  <div class="inner">
    <header class="special">
      <h2>Nossos Serviços</h2>
      <p>Conte com a gente para tirar seu sonho do papel, financiamento de veículos,
        cartão de crédito, capital de giro e seguros.</p>
    </header>

  </div>
</section> -->
<section class="cards">
  <div class="card-columns">
    <div class="content">

      {% include 'delta/cards/financiamento-veiculos.html' %}
      {% include 'delta/cards/credito-imovel.html' %}
      {% include 'delta/cards/consignado-privado.html' %}
      {% include 'delta/cards/emprestimo-pessoal.html' %}
      {% include 'delta/cards/cartao-credito.html' %}
      {% include 'delta/cards/capital-de-giro.html' %}

    </div>
  </div>
</section>

<!-- CTA -->
<a id="sobre"></a>
<section id="cta" class="wrapper">

  <div class="inner">
    <h2>Sobre Nós</h2>
    <h3>O que fazemos?</h3>
    <p>A Delta Capital foi criada em 2011 como correspondente de instituições
      financeiras com foco em Financiamento de Veículos, Cartão de Crédito para pessoa
      física e Cartão de Crédito Empresarial e Seguros. Com uma equipe formada por
      operadores de financiamento experientes e devidamente certificados pela FEBRABAN,
      a Delta Capital é hoje o principal correspondente em atividade junto às
      instituições financeiras que representa na nossa região e mantemos investimentos
      permanentes no aprimoramento dos nossos serviços.</p>
  </div>
</section>

{% endblock content %}



{% block js %}

{% endblock js %}