
{% extends 'delta/base.html' %}
{% load static compress %}

{% block content %}
<!-- Banner -->
<section id="banner">

  <div class="inner" data-depth="0.10">
    <h1>Delta Capital</h1>
    <p>Em todo lugar onde estamos presentes, buscamos oferecer produtos e serviços
      financeiros ideais para que você alcance seus objetivos.<br>

    </p>
  </div>




  <img class="float-img" src="{% static 'src/images/man_transparent.webp' %} "
       data-depth="0.40">


</section>
<div id="shape-mask"></div>


<!-- Highlights -->
<section class="wrapper">
  <div class="inner">
    <header class="special">
      <h2>Nossos Serviços</h2>
      <p>Conte com a gente para tirar seu sonho do papel, financiamento de veículos,
        cartão de crédito, capital de giro e seguros.</p>
    </header>

  </div>
</section>
<section class="cards">
  <div class="card-columns">
    <div class="content">

      {% include 'delta/cards/financiamento-veiculos.html' %}
      {% include 'delta/cards/credito-imovel.html' %}
      {% include 'delta/cards/consignado-privado.html' %}
      {% include 'delta/cards/emprestimo-pessoal.html' %}
      {% include 'delta/cards/cartao-credito.html' %}
      {% include 'delta/cards/capital-de-giro.html' %}

    </div>
  </div>
</section>

<!-- CTA -->
<a id="sobre"></a>
<section id="cta" class="wrapper">

  <div class="inner">
    <h2>Sobre Nós</h2>
    <h3>O que fazemos?</h3>
    <p>A Delta Capital foi criada em 2011 como correspondente de instituições
      financeiras com foco em Financiamento de Veículos, Cartão de Crédito para pessoa
      física e Cartão de Crédito Empresarial e Seguros. Com uma equipe formada por
      operadores de financiamento experientes e devidamente certificados pela FEBRABAN,
      a Delta Capital é hoje o principal correspondente em atividade junto às
      instituições financeiras que representa na nossa região e mantemos investimentos
      permanentes no aprimoramento dos nossos serviços.</p>
  </div>
</section>

<!-- Testimonials -->
<section class="wrapper">
  <div class="inner">
    <header class="special">
      <h2>Faucibus consequat lorem</h2>
      <p>In arcu accumsan arcu adipiscing accumsan orci ac. Felis id enim aliquet.
        Accumsan ac integer lobortis commodo ornare aliquet accumsan erat tempus amet
        porttitor.</p>
    </header>
    <div class="testimonials">
      <section>
        <div class="content">
          <blockquote>
            <p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida
              odio porttitor sem non mi integer non faucibus.</p>
          </blockquote>
          <div class="author">
            <div class="image"><img src="{% static 'images/pic01.jpg' %}" alt=""/></div>
            <p class="credit">- <strong>Jane Doe</strong> <span>CEO - ABC Inc.</span>
            </p>
          </div>
        </div>
      </section>
      <section>
        <div class="content">
          <blockquote>
            <p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida
              odio porttitor sem non mi integer non faucibus.</p>
          </blockquote>
          <div class="author">
            <div class="image"><img src="{% static 'images/pic03.jpg' %} " alt=""/>
            </div>
            <p class="credit">- <strong>John Doe</strong> <span>CEO - ABC Inc.</span>
            </p>
          </div>
        </div>
      </section>
      <section>
        <div class="content">
          <blockquote>
            <p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida
              odio porttitor sem non mi integer non faucibus.</p>
          </blockquote>
          <div class="author">
            <div class="image"><img src="{% static 'images/pic02.jpg' %}" alt=""/></div>
            <p class="credit">- <strong>Janet Smith</strong> <span>CEO - ABC Inc.</span>
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
{% endblock content %}



{% block js %}

<script src="{% static 'js/parallax.js' %}"></script>


<script>
	// Pretty simple huh?
	var scene = document.getElementById('banner');
	var parallax = new Parallax(scene);

</script>
{% endblock js %}