<nav id="menu">
  <ul class="links">
    <li><a href="{% url 'delta:home' %}">Início</a></li>
    <li><a href="{% url 'delta:home' %}#sobre">Sobre</a></li>
    <li><a href="{% url 'delta:financiamento-de-veiculos' %}">Financiamento de Veículos</a></li>
    <li><a href="{% url 'delta:cartao-de-credito' %}">Cartão de Crédito</a></li>
    <li><a href="{% url 'delta:capital-de-giro' %}">Capital de Giro</a></li>
    <li><a href="{% url 'delta:emprestimo-pessoal' %}">Empréstimo Pessoal</a></li>
    <li><a href="#contato">Contato</a></li>
  </ul>
</nav>