{% extends 'delta/base.html' %}
{% load static %}

{% block content %}
<h1>Delta</h1>
{{porto|safe}}
{% endblock content %}

{% block footer %}
<script>
setTimeout(function(){
  var frame = document.getElementById("myiframe").contentWindow;
  cd(frame);
  $("#propostaCorretor > div.ps-row.content-taxa").hide();




    $('.ui-slider-handle').attr('style',"width: 100%");
  $('.ui-slider-range').attr('style',"width: 100%");
  //changeRetorno({},{'value':6});



}, 2000);
</script>
{% endblock footer %}


