{% extends 'delta/base.html' %}
{% load static compress %}

{% block content %}
<h1>Delta</h1>
<iframe id="myiframe" width="1300" height="800" src="https://financeiraportoseguro.com.br/?menuid=COL-02U75%23%23portal=1%23%23corsus=3B501J%23%23webusrcod=2527707%23%23usrtip=S%23%23sesnum=99124634%23%23cpf=82721351320" frameborder="0" allowfullscreen></iframe>
{% endblock content %}

{% block footer %}
<script>
setTimeout(function(){

  $('.ui-slider-handle').attr('style',"width: 100%");
  $('.ui-slider-range').attr('style',"width: 100%");
  //changeRetorno({},{'value':6});
  $('.content-taxa').css('display','none');
}, 2000);
</script>
{% endblock footer %}


