DATABASE_URL=sqlite:///db.sqlite3
DEBUG=True
DJANGO_SECRET_KEY=secret
REDIS_URL=redis://127.0.0.1:6379
DJANGO_ADMIN_URL=admin/
CHROMEDRIVER_PATH=~/.local/bin/chromedriver
GOOGLE_CHROME_PATH=/usr/bin/google-chrome
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=
SHIFTDATA_API_KEY=
AWS_ACCESS_KEY_FOR_ANYMAIL_SES=
AWS_SECRET_KEY_FOR_ANYMAIL_SES=
