/* Heading */

	body.form {
		margin: 0;
		padding: 0;
		height: 100vh;
		background-color: white;
		background-attachment: fixed;

		&:before {
			content: ' ';
			background-image: none;
		        }
	}


div.button-row{
    text-align: center;
	display: flex;padding-left: 50px;
	padding-right: 50px;
}

