{% extends 'delta/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}Delta Capital - Proposta{% endblock %}

{% block headmedia %}
{{ form.media }}
{% endblock headmedia %}


{% block bodyclass %}form{% endblock bodyclass %}

{% block menu %}

<a class="logo" href="{% url 'porto:proposta-create' %}">Nova proposta</a>
{% endblock menu %}


{% block menuextra %}
<a class="btn btn-danger" href="{% url 'porto:proposta-create' %}">Nova proposta</a>
{% endblock menuextra%}



{% block content %}

<section class="wrapper form">


  {% if form.instance.pre_aprovado and current_stage == 2 %}
    {% include 'porto/proposta/pre_aprovado.html' with pre_aprovado=form.instance.pre_aprovado %}
    {% endif %}
  <div class="inner-form form proposta-porto" data-depth="0.10">

    <form id="proposta-financiamento" method="post" action="." data-anos-url="{% url 'porto:ajax_load_anos' %}" >


      {% csrf_token %}

      {% for hidden in form.hidden_fields %}
        {{ hidden }}
      {% endfor %}

      {% for field in form.visible_fields %}

        {% if field.help_text %}
        <div class="help-text">
          
          {{ field.help_text|safe }}
        </div>
        
          {% endif %}

        <!-- Formulario - CDC -->
        <div class="label-float form-group moeda {{field.klass}}">
          
          <!-- Boxs do form  -->
          {{ field|add_class:'form-control' }}
          {% if field.data_cond %}
          <label data-cond="{{field.data_cond}}" for="{{ field.id_for_label }}">{{ field.label }}</label>
          {% else %}
          <!-- Nome estranho  -->
          <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
          {% endif %}
          {% for error in field.errors %}
            <span class="help-block">{{ error }}</span>
          {% endfor %}
        </div>
      {% endfor %}


      <div class="button-row">
        {% if back_stage %}
          {% if back_stage == 1 %}
          <button class="button-submit" type="button" onclick="location.href='{% url 'porto:proposta-create'  %}';" value="Anterior" />Anterior</button>
          {% else %}
          <button class="button-submit" type="button" onclick="location.href='{% url 'porto:proposta-update' form.instance.id back_stage %}';" value="Anterior" />Anterior</button>
          {% endif %}
        {% endif %}
        <button class="button-submit" type="submit" value="continue">Seguinte</button>
      </div>

    </form>
  </div>
</section>

{% endblock content %}


{% block js %}
<script src="https://unpkg.com/conditionize@1/dist/conditionize.min.js"></script>
<script>
  $(document).ready( function(){
    $('#proposta-financiamento').conditionize();

    $('#id_valor_do_veiculo').keyup(calc_valor_financiado);
    $('#id_valor_de_entrada').keyup(calc_valor_financiado);




});


function calc_valor_financiado(){
  val_veiculo = $('#id_valor_do_veiculo').val().slice(3).replaceAll(".","").replace(",", ".");
  val_entrada = $('#id_valor_de_entrada').val().slice(3).replaceAll(".","").replace(",", ".");

  val_veiculo = Number(val_veiculo);
  val_entrada = Number(val_entrada);

  valor_financiado = val_veiculo - val_entrada;
  valor_financiado = valor_financiado.toLocaleString("pt-BR", {maximumFractionDigits:2})

  $('#id_valor_financiado').val("R$ "+valor_financiado);
}

$("#id_ano_de_fabricacao").change(function () {
  var url = $("#proposta-financiamento").attr("data-anos-url");  // get the url of the `load_cities` view
  var ano_fabricacao = $(this).val();  // get the selected country ID from the HTML input

  $.ajax({                       // initialize an AJAX request
    url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
    data: {
      'ano': ano_fabricacao       // add the country id to the GET parameters
    },
    success: function (data) {   // `data` is the return of the `load_cities` view function
      $("#id_ano_do_modelo").html(data);  // replace the contents of the city input with the data that came from the server
    }
  });

});

</script>
{% endblock js %}