/* Inner */

	.inner {
		margin: 0 auto;
		width: _size(inner-width);
		max-width: calc(100% - 6rem);


		@include breakpoint('<=xsmall') {
			max-width: calc(100% - 3rem);
		}
	}


	.inner-form {
		margin: 0 auto;
		width: 50%;
		max-width: 50%;
		//text-align: center;

		@include breakpoint('<=small') {
		    width: 80%;
			max-width: calc(100% - 3rem);
		}
	}